.offers {
	margin-bottom: 30px;
	&__list {
		@extend .row;
	}

	&__item {
		@extend .coll;
		flex: 0 1 25%;
		max-width: 25%;

		@media (max-width: 1180px) {
			flex: 0 1 50%;
			max-width: 50%;
			margin-bottom: 20px;
		}

		@media (max-width: $md3) {
			flex: 0 1 100%;
			max-width: 100%;
		}
	}

	&__wrapp {
		position: relative;
		padding-left: 17px;
		text-align: left;

		&:before {
			content: "";
			position: absolute;
			height: 18px;
			left: 0;
			width: 19px;
			top: 5px;
			background-image: url(../images/dist/bul.svg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		& p {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: $accent;
			text-align: left;
			padding-left: 18px;
		}
	}
}
